html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas
{
}

#server-display
{
    font-size        : 10px;
    width            : 150px;
    min-height       : 100px;
    background-color : #FFF;
    opacity          : 0.5;
    position         : absolute;
    left             : 20px;
    top              : 20px;
    padding          : 15px;
    box-shadow       : 1px 1px 2px #888;
    pointer-events   : none;
}

#server-display > div
{
    margin-bottom : 10px;
}

#server-display > .uptime
{
    font-family : 'Courier New', Courier, monospace;
    font-size : 10px;
}

#server-display > .top5
{
    text-transform : uppercase;
    font-size      : 10px;
    margin-bottom  : 20px;
}

#server-display > div > span
{
    display: block;
}